header {
    background-color: #444444;
    height: 120px;
    padding: 5px;
    color: #FAFAFA;
    text-align: center;
    margin-bottom: 1.5rem;
}

.center-btn-row{
    text-align: center;
    margin-bottom: 1.5rem;
}

.align-center{
    text-align: center;
}

.btn-toolbar-center{
    display: inline-block;
}

.col-padding-custom{
    padding: 0 1rem;
}

.row-margin-top{
    margin-top: 1rem;
}

.edit-form-row{
    margin-left: 0;
    margin-right: 0;
}

.validation-wrapper{
    padding: 1rem 0;
}

@media (min-width: 992px) {
    .form-edit-user,
    .validation-wrapper{
        width: 60rem;
        margin: 0 auto;
    }
}